<!doctype html>
<html lang="es">
<%- include('./partials/head') %>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Helártico</title>
  <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" ></script>
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <script src="https://kit.fontawesome.com/278943c891.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/estilo1.css" >
</head>

<body>
  <%- include('./partials/header') %>
  

  <main class="">
    
    <!-- Cuerpo principal -->
    <section>
      <article class="col-12  card">
        <div class="card-body">
          <h2 class="text-black text-center ">Actualizar producto</h2>
        </div>
      </article>
    </section>

    <section class="bg-home pt-4">
      <div class="container">
        <div class="row-form-edit">
          <div class="mx-auto col-10 ">
            <div class="create-form text-center">
              <form action="/edit/<%= producto.id%>?_method=PUT" method="POST">
                <div class="">
                  <figure class="form-group p-1">
                    <img class="w-40 size" src="/images/<%= producto.image%>" alt="">
                  </figure>
                  <input type="hidden" name="image" value="<%= producto.image%>">
                  <!--De esta forma logro conservar y que viaje la imagen anterior de esta forma evito que el usuario seleccione una imagen nuevamente, ( si no lo desea) -->
                  <input accept="image/*" type="file" name="image" multiple>


                </div>

                <div class="form-group p-2">
                  <label for="name">Nombre</label>
                  <input type="text" class="" name="name" placeholder="nombre"  value="<%= producto.name%>">
                </div>

                <div class="form-group p-3">
                  <label for="description">Descripcion</label>
                  <input type="text" class="" name="description" placeholder="Descripcion" value="<%= producto.description%>">
                </div>
               
                <div class="form-group p-1">
                  <label for="price">Precio</label>
                  <input type="number" class="" name="price" placeholder="Indique el precio"  value="<%= producto.price%>">
                </div>
                
      
                </div>
                <div class="form-group p-1 text-center">
                  <button type="submit" class=" btn btn-info ">Actualizar</button>
                  
                </div>

              </form>
              
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</body>
<%- include('./partials/footer') %>
</html>