<%- include('../partials/head') %>

  <link rel="stylesheet" href="/css/estilo1.css">

  </head>

  <body >

    <section id="header">
      <a href=""><img src="images/logo.png" class="logo" alt="logo"> </a>

      <div>
        <ul id="navbar">
          <li> <a href="/" class="">Home </a></li>
          <li> <a href="/products">Shop </a></li>
          <li> <a href="">Nosotros </a></li>
          <li> <a href="">Contacto </a></li>
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              <a class="" href="/login"><i class="fa-solid fa-arrow-right-to-bracket"></i></a>

            </button>

            <ul class="dropdown-menu" role="menu">
              <li><a href="/login">Login</a></li>
              <li><a href="/register">Resistrarse</a></li>



            </ul>

          </div>


        </ul>


      </div>
      
    </section>
    <main class="main_register">
      
      
        
            
          </div>
        </article>
      </section>
      <section class="row-form">
        
          
            
              
                <p>
                  
                </p>
                <form class="form-new" action="/login" method="POST" enctype="multipart/form-data">
                  <div>
                    <% if (!locals.user) { %>
                      <%= locals.mustLogging %>
                      <% }  %>
                    <h4>Ingresar</h4>
                    <label for="email">Email</label><div class="form-error"> <% if (locals.errors && errors.email) { %>
                      <span><%= errors.email.msg %></span>
                      <% } %> </div>
                    <input class="controls"  type="text" name="email" id="email" placeholder="Ingresar Email"
                      value="<%= locals.olds && olds.email ? olds.email : '' %>">
                    
                  </div>

                  <div>
                    <label for="password">Contraseña</label><div class="form-error"> <% if (locals.errors && errors.password) { %>
                      <span><%= errors.password.msg %></span>
                      <% } %> </div>
                    <input class="controls" type="password" name="password" id="password" placeholder="Ingresar Contraseña">
                    
                  </div>

                  <div>
                    <div>
                      <input type="checkbox" name="rememberMe" id="remember-me">
                      <label for="remember-me">Recuerdame (por 30 días)</label>
                    </div>
                  </div>
                  <div>
                  <input  name= "admin" type="checkbox" checked="true" />
                  <label for="admin">Administrador</label>
                  </div>
                  <div>
                    <button type="submit" class="btn btn-info unirme-b">Ingresar</button>

                  </div>

              </div>
              <div class="foot-lnk">
                <a href="#forgot">Olvidé la contraseña</a>
              </div>
              <div class="foot-lnk">
                <a href="/register">Registrate</a>
              </div>

            </div>
          </div>
          </form>
        
    </main>

  </body>
  
  <footer class="footer-distributed">

    <div class="footer-left">

      <h3>Hel<span>Artico</span></h3>

      <p class="footer-links">
        <a href="#">Home</a>
        ·
        <a href="#">Nosotros</a>
        ·
        <a href="#">Shop</a>
        ·
        <a href="#">Contacto</a>
        ·
      </p>

      <p class="footer-company-name">Helártico © 2015</p>

      <div class="footer-icons">

        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-github"></i></a>

      </div>

    </div>


  </footer>

  </html>